# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db